<?xml version="1.0"?>
<robot name="lwa4d_torso" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include decriptions for LWA4D_TORSO -->
    <xacro:include filename="$(find apc_description)/urdf/lwa4d_torso/lwa4d_torso.xacro" />

    <!-- Math constants -->
    <xacro:property name="M_PI" value="3.141592653" />

    <!-- LWA4D_TORSO origin. -->
    <link name="lwa4d_torso_origin" />

    <!-- Assemble LWA4D_TORSO hand -->
    <xacro:schunk_lwa4d_torso parent="lwa4d_torso_origin" name="lwa4d_torso" >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:schunk_lwa4d_torso>

</robot>
