<?xml version="1.0"?>
<robot name="lwa4d" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include decriptions for SDH -->
    <xacro:include filename="$(find apc_description)/urdf/lwa4d/lwa4d.xacro" />

    <!-- Math constants -->
    <xacro:property name="M_PI" value="3.141592653" />

    <!-- LWA4D origin. -->
    <link name="lwa4d_origin" />

    <!-- Assemble LWA4D -->
    <xacro:schunk_lwa4d parent="lwa4d_origin" name="lwa4d_arm" >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:schunk_lwa4d>

</robot>
