<?xml version="1.0"?>
<robot name="sdh" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include decriptions for SDH -->
    <xacro:include filename="$(find apc_description)/urdf/sdh/sdh.xacro" />

    <!-- Math constants -->
    <xacro:property name="M_PI" value="3.141592653" />

    <!-- SDH origin. -->
    <link name="sdh_origin" />

    <!-- Assemble SDH hand -->
    <xacro:schunk_sdh parent="sdh_origin" name="sdh_hand" >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:schunk_sdh>

</robot>
