<?xml version="1.0"?>
<robot name="crichton" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include SCHUNK decriptions for LWA4 and SDH -->
    <xacro:include filename="$(find schunk_description)/urdf/lwa4d/lwa4d.urdf.xacro" />
    <xacro:include filename="$(find schunk_description)/urdf/sdh/sdh.urdf.xacro"     />
    <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro"   />

    <xacro:property name="M_PI" value="3.141592653" />

    <!-- World origin. -->
    <link name="crichton_origin" />

    <!-- Assemble Crichton arms -->
    <xacro:macro name="crichton_arm_origin" params="side" >
        <origin xyz="0 ${side * 0.05} 0" rpy="${-side * M_PI / 2} ${(1+side) * M_PI / 2} 0" />
    </xacro:macro>
    <xacro:schunk_lwa4d parent="crichton_origin" name="crichton_left"
                        arm_1_ref="0" arm_2_ref="0" arm_3_ref="0" arm_4_ref="0" arm_5_ref="0" arm_6_ref="0" arm_7_ref="0">
        <xacro:crichton_arm_origin side="1" />
    </xacro:schunk_lwa4d>
    <xacro:schunk_lwa4d parent="crichton_origin" name="crichton_right"
                        arm_1_ref="0" arm_2_ref="0" arm_3_ref="0" arm_4_ref="0" arm_5_ref="0" arm_6_ref="0" arm_7_ref="0">
        <xacro:crichton_arm_origin side="-1" />
    </xacro:schunk_lwa4d>

    <!-- Assemble Crichton hands -->
    <xacro:macro name="sdh_origin" >
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </xacro:macro>
    <xacro:schunk_sdh parent="crichton_left_7_link" name="crichton_left" >
        <xacro:sdh_origin />
    </xacro:schunk_sdh>
    <xacro:schunk_sdh parent="crichton_right_7_link" name="crichton_right" >
        <xacro:sdh_origin />
    </xacro:schunk_sdh>

</robot>
